@using Microsoft.AspNetCore.Http

@inject IHttpContextAccessor contextAccessor
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome @User.FindFirst(c=>c.Type== "NickName")?.Value  
        <form action="Account/SignOut" method="get">
            <button>登出</button>
        </form>
        </h1>
    <p>@contextAccessor.HttpContext.Session.GetString("Email") Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


